@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    /*-- Colours --*/
    --primary-blue: #0F7DFF;
    --primary-blue-light: #4B9EFF;
    
    --light-grey: #F4F4F4;
    --white: #FFF;
    --black: #1D1D1D;
}

* {
    font-family: 'Unbounded', cursive;

    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--white);

}

.centered-col{
    display: flex;
    flex-direction: column;
    
    align-items: center;

    width: fit-content;
    height: fit-content;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

/*-- Text --*/

h1.landing-header {
    color: var(--black);

    font-size: 5rem;
    margin: 0;
    padding-bottom: 1rem;

}

/*-- Buttons --*/

.button {
    text-decoration: none;

    font-size: 1.5rem;
    font-weight: 500;
    
    color: var(--primary-blue);

    margin: 0.5rem;

}
.button:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

.button-primary {
    text-decoration: none;

    font-size: 17px;
    font-weight: 500;
    
    background-color: var(--primary-blue);
    color: var(--white);

    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    height: fit-content;

    border-radius: 100vw;

    margin: 0.5rem;

    transition: 0.3s ease-out;

}
.button-primary:hover {
    background-color: var(--primary-blue-light);
}

/*-- Signup / Login --*/

.button-primary.sign-up {
    border-style: solid;
    border-color: var(--primary-blue);
    border-width: 0;
}
.button-primary.sign-up:hover{

    border-width: 5px;
    background-color: var(--white);
    color: var(--primary-blue);
}
.button-primary.form-button{
    border: none;

    background-color: var(--white);
    color: var(--primary-blue);

    border-radius: 3px;
    font-size: 1rem;
    
    margin-top: 20px;

    width: 150px;
    height: 50px;

    border: solid 0 var(--white);
}
.button-primary.form-button:hover{
    width: 180px;

    font-size: 1.1rem;
}

.button.login {
    transition: 0.3s ease-out;
}
.button.login:hover {
    font-size: 1.6rem;
}

.form {
    background-color: var(--primary-blue);

    border-radius: 5px;

    padding: 1rem;

}
h1.form-header {
    font-weight: 500;
    font-size: 2rem;
    
    margin: 0;

    color: var(--white);
}

.form-container {
    width: 500px;
}

.form-label {
    font-weight: 700;
    font-size: 1rem;
    
    color: var(--white);

    margin-bottom: 5px;
}

.form-section {
    display: flex;
    flex-direction: column;
}
.form-section.submit{
    align-items: center;
}

.form-text {
    height: 2rem;

    border: none;
    border-radius: 3px;

    padding: 0.5rem;

    margin-bottom: 5px;

    color:var(--primary-blue);

    font-weight: 700;
    font-size: 1rem;

    width: 100%;
}
.form-text:focus {
    outline: none;
}
.form-text.left {
    margin-right: 5px;

}

.name-container {
    display: flex; 
    flex-direction: row;
    width: 500px;
}

.form-error {
    color: #FFF;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
}

nav.navbar {
    height: 70px;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;

    background-color: var(--light-grey);

    position: sticky;
    z-index: 100;

    top:0;
}

.nav-title {
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}

.nav-buttons {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;

    color: var(--black);
    text-decoration: none;
}
.nav-buttons:hover {
    color: var(--primary-blue);
}
.nav-buttons.current{
    color: var(--primary-blue);
}
.nav-buttons.current:hover{
    color: var(--primary-blue-light);
}

.page-title {
    font-size: 48px;
    font-weight: bold;

    margin-block: 32px;
    outline: none;
    border: none;
}

.main-container{
    padding-inline: 7vw;
    padding-block: 50px;
}

.workspace-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.workspace {
    height: 200px;
    width: 400px;
    border-radius: 20px;
    padding: 20px;

    background-color: var(--light-grey);

    margin-right: 30px;
    margin-bottom: 30px;

    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #1D1D1D;
}
.unnamed {
    color: #888888;
}

.workspace-add {
    height: 200px;
    width: 400px;
    border-radius: 20px;
    opacity: 1;

    background-color: var(--light-grey);

    margin-right: 30px;
    margin-bottom: 30px;

    transition: 0.15s;

    text-align: center;
    font-size: 100px;
    line-height: 200px;

    color: #888888;

    font-weight: 100;

    text-decoration: none;
}
.workspace-add:hover {
    opacity: 0.5;
}

.page-header-container {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.profile-uname-label {
    font-size: 17px;
    height: fit-content;

    margin-block: 10px;
}
.profile-uname { 
    font-size: 36px;

    background-color: none;
    outline: none;
    border: none;

    margin: 0;

    font-weight: normal;

    color: #888888;
}

.edit-button {
    color: var(--primary-blue);
    font-weight: light;
    font-size: 15px;

    background-color: transparent;
    outline: none;
    border: none;

    text-decoration: none;

    padding-left: 10px;
}
.edit-button:hover {
    text-decoration: underline;
}

.username-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.profile-pic {
    height: 130px;
    width: 130px;

    border-radius: 100vw;

    margin-block: 15px;

    transform: translate(-5px);
}

.list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.list {
    display: flex;
    flex-direction: column;
}

.list-name {
    font-size: 40px;
    font-weight: normal;

    margin-top: 12px;
    margin-bottom: 15px;
    outline: none;
    border: none;

    color: #888888;
}

.list-name::placeholder {
    color: #888888;
    opacity: 0.5; 
  }

.item-name {
    font-size: 24px;
    font-weight: normal;

    padding: 0;

    outline: none;
    border: none;

    color: #888888;

    height: fit-content;

}

.item-name::placeholder {
    color: #888888;
    opacity: 0.5; 
}

.list-content {
    display: flex;
    flex-direction: column;

    width: 500px;
    height: 800px;
    overflow: scroll;
}

.add-item-btn {
    width: 28px;
    height: 28px;

    line-height: 28px;

    font-size: 25px;
    font-weight: 800;
    color: #FFF;

    padding: 0;

    outline: none;
    border: none;

    background-color: var(--primary-blue);

    padding: none;

    border-radius: 2px;

    margin-right: 15px;

}
.add-item-btn:hover {
    background-color: var(--primary-blue-light);
}

.item-container {
    display: flex;
    align-content: center;

    margin-top: 12px;
    margin-bottom: 5px;

    width: fit-content;
}

.checkbox {
    width: 28px;
    height: 28px;

    color: #FFF;

    background-color: var(--primary-blue);

    margin: 0;
    margin-right: 15px;

}

.right-click-menu {
    position: absolute;
    opacity: 0;
    height: 40px;
    width: 200px;

    background-color: #F4F4F4;

    border-radius: 7px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    padding: 5px;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

    transition: opacity 0.15s;

    z-index: 99;
}

.right-click-button {
    height: 30px;
    width: 190px;

    border-radius: 2px;
    border: none;

    background-color: transparent;

    transition: 0.2s;

    line-height: 30px;

    font-size: 15px;
    font-weight: 400;
    text-align:left;

    color: #1D1D1D;

    padding: none;

}
.right-click-button:hover {
    background-color: var(--primary-blue-light);
    color: white;
}

div.list{
    width: fit-content;
}
